.checkbox {
  margin-bottom: 30px;
  position: relative;
  &__icon {
    position: absolute;
    margin-left: -24px;
    top: 50%;
    transform: translate(0, -50%);
    &--on {
      opacity: 0;
    }
    &--off {
      opacity: 1;
    }
    .checkbox__input:checked + &--on {
      opacity: 1;
    }
    .checkbox__input:checked ~ &--off {
      opacity: 0;
    }
    .checkbox__input:focus ~ &--off,
    .checkbox__input:hover ~ &--off {
      fill: $colors-selection;
    }
  }
  &__label {
    color: $colors-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.36px;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.42px;
    }
  }
  &__link {
    color: $colors-selection;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.36px;
    text-decoration-line: underline;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.42px;
    }
  }
}
