.contacts {
  margin-top: 70%;
  display: flex;
  gap: 32px;
  flex-direction: column-reverse;
  @media screen and (min-width: $tablet) {
    gap: 10px;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    gap: 30px;
    flex-direction: row;
    align-items: center;
  }

  &__link {

    color: $colors-text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    transition: color 250ms $timing-function;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      font-size: 12px;
      letter-spacing: 0.24px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      letter-spacing: 0.28px;
    }

    &:focus,
    &:hover {
      color: $colors-selection;
    }
  }
  &__icon {
    display: none;
    @media screen and (min-width: $tablet) {
      display: inline;
      margin-right: 10px;
      fill: currentColor;
      transition: fill 250ms $timing-function;
    }
  }
  @media screen and (max-width: $pre-tablet) {
    &__item:last-child &__link {
      color: $colors-selection;
      font-size: 34px;
      letter-spacing: 0.68px;
    }
  }
}
