.contacts {
  margin-top: 70%;
  display: flex;
  flex-direction: column-reverse;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
    margin-left: auto;
    flex-direction: column;
  }

  &__link {
    color: $colors-text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    transition: color 250ms $timing-function;

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      font-size: 14px;
      letter-spacing: 0.28px;
    }

    &:focus,
    &:hover {
      color: $colors-selection;
    }
  }
  &__icon {
    display: none;
    @media screen and (min-width: $tablet) {
      display: inline;
      margin-right: 10px;
      fill: currentColor;
      transition: fill 250ms $timing-function;
    }
  }
  &__item:not(:last-child) {
    margin-top: 32px;
    @media screen and (min-width: $tablet) {
      margin-right: 40px;
      margin-top: 0;
    }
  }
  @media screen and (max-width: $pre-tablet) {
    &__item:last-child &__link {
      color: $colors-selection;
      font-size: 34px;
      letter-spacing: 0.68px;
    }
  }
}
