footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-box {
  &__tablet {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}
