.joining__text {
  @media screen and (max-width: $pre-tablet) {
    margin-top: 60px;
  }
  
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: left;
  }
  color: $colors-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
