.main-section {
  @media screen and (max-width: $pre-desktop) {
    text-align: center;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 94px;
  }
}
.address {
  margin-top: 28px;
  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
  &__location {
    color: $colors-white;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
  }
  &__contacts {
    color: rgba(255, 255, 255, 0.6);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71429;
    letter-spacing: 0.42px;
  }
}
